<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User doesnt exist</title>
</head>
<body>
    <h1>User Not Found</h1>
    <p>Username:  was not found</p>
</body>
</html>